head{
    color:blue;
    background-color: rgb(39, 214, 83);
    font-size: large;
    text-decoration: dashed;
    font-family: unset;
    text-align: center;
}
p{
    color:crimson;
    line-height: normal;
    letter-spacing: normal;
    column-count: 3;
    column-gap: 20px;
}
ul{
     border-width: 4px;
    border-style: dashed;
    border-color: darkslateblue; 
    border-bottom: 4px dashed darkblue;

}
li{
    list-style-type: circle;
    text-shadow: 2px 2px cornflowerblue;
}
.error{
    color: blueviolet;
}